:root {
  --image-width: 180px;
  --image-height: 200px;
  --spacer-width: 100px;

  --img-window-width: calc(var(--image-width) + var(--spacer-width));

  --nav-circle-size: 20px;
}

.image-slider {
  display: grid;
  grid-template: var(--image-height) 50px / 50px var(--img-window-width) 50px;
  grid-template-areas:
    "previous img next"
    ". nav .";
}

.reel-container {
  grid-area: img;

  position: relative;

  overflow: hidden;
}

.reel {
  display: grid;
  grid-auto-flow: column;

  position: absolute;
  z-index: -1;

  transition: left 0.5s ease-in-out;
}

.slide {
  height: var(--image-height);
  width: var(--image-width);
}

.spacer {
  width: var(--spacer-width);
}

.previous-btn {
  grid-area: previous;
}

.next-btn {
  grid-area: next;
  justify-self: end;
}

.previous-btn,
.next-btn {
  align-self: center;
}

.previous-icon,
.next-icon {
}

.nav-circles-container {
  grid-area: nav;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.nav-circle {
  display: grid;
  align-items: center;
  justify-items: center;

  height: var(--nav-circle-size);
  width: var(--nav-circle-size);

  border-radius: calc(var(--nav-circle-size) / 2);
  background-color: transparent;
  border: 1px solid black;
}

.nav-circle .fill {
  background-color: red;
  height: 0;
  aspect-ratio: 1 / 1;
  border-radius: calc(var(--nav-circle-size) / 2);

  transition: height 0.5s ease-in-out;
}

.nav-circle.selected .fill {
  height: var(--nav-circle-size);
}
