:root {
  --image-width: 180px;
  --image-height: 200px;
  --spacer-width: 100px;

  --img-window-width: calc(var(--image-width) + var(--spacer-width));
}

.parent {
  display: grid;
  grid-template: var(--image-height) 50px / 50px var(--img-window-width) 50px;
  grid-template-areas:
    "previous img next"
    ". nav .";
}

.reel-container {
  grid-area: img;

  position: relative;

  overflow: hidden;
}

.reel {
  display: grid;
  grid-auto-flow: column;

  position: absolute;
  z-index: -1;

  transition: left 0.5s ease-in-out;
}

.slide {
  height: var(--image-height);
  width: var(--image-width);
}

.spacer {
  width: var(--spacer-width);
}

.previous-btn {
  grid-area: previous;
}

.next-btn {
  grid-area: next;
  justify-self: end;
}

.previous-btn,
.next-btn {
  align-self: center;
}

.previous-icon,
.next-icon {
}

.nav-circles-container {
  grid-area: nav;

  display: flex;
}

.nav-circle {
  height: 10px;
  width: 10px;

  border-radius: 5px;
  background-color: lightgrey;
}
