.parent {
  display: grid;
  grid-template: 200px 50px / 50px 300px 50px;
  grid-template-areas:
    "previous img next"
    ". nav .";
}

.reel-container {
  grid-area: img;

  position: relative;
}

.reel {
  display: grid;
  grid-auto-flow: column;
}

.slide {
  height: 200px;
  width: 180px;
}

.spacer {
  width: 100px;
}

.previous-btn {
  grid-area: previous;
}

.next-btn {
  grid-area: next;
}

.previous-btn,
.next-btn {
}

.previous-icon,
.next-icon {
}

.nav-circles-container {
  grid-area: nav;
}

.nav-circle {
}
